*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    /* background-color: black; */
}

.newbody{
    background-image: url(./spacex.jpg);
    background-size:cover;
    min-height: 100%;
    min-width: none;
    /* background-position: center; */
}

.MuiDataGrid-columnSeparator {
    opacity: 0 !important;
    color: none;
    border: none;
    background-color:white;
    color:white;

  }
  .MuiDataGrid-root .MuiDataGrid-cell {
    /* border-bottom: none !important; */
    color: white;
  }
  .MuiDataGrid-root .MuiDataGrid-colCellWrapper {
    background: #f4f5f7 !important ;
    border: none !important;
    color:white;

  }
  .MuiDataGrid-cell{
    border: none;
    color:white;
    text-decoration: solid;
    font-size: large;
  }

.container-ji{
    width: 87%;
    margin:auto;
    padding-bottom: 2rem;
    min-height:70vh;  
    
    /* height: 100px; */
    /* background-color: black; */
}

.addons{
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size:larger;
    margin-bottom: 1rem;
    margin-top:1.5rem;
    width:50%;
    justify-content: center;
    /* grid-row: auto; */
}

.top-section{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    margin-top: 0.5rem;
}

.top-section-image{
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
}
.top-p{
    align-self:baseline;
    margin-left: auto;
}

.main-heading{
    display:flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
    /* margin-bottom: 4rem; */
}

.flight-row{
    display:flex;
    flex-direction: row;
    /* justify-self: unset; */
    justify-content:last baseline;
    /* margin:auto; */
    height: 1rem;
    margin-left:20px;
    margin-top:0px;
    margin-bottom: 0px;
}
.left{
    align-items: left;
    margin-right:auto;
}
.right{
    margin-right: 10px;
    margin-left:auto;
}

.div-loading{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.ytubee{
    /* font-size: 4rem !important; */
    color: red;
    font-size:4rem !important;
}
.ytubee:hover{
    color:black;
}

#Success{
    background:#def7ec;
    color:#03543f;
    font-weight: 600;
    border-radius: 200px;
    text-align: center;
    padding: 0.4rem;

}

#Failed{
    background: #fde2e1;
    color: #981b1c;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;    
}

#Upcoming {
    background: #fef3c7;
    color: #92400f;
    font-weight: 600;
    border-radius: 200px;
    /* text-align: center; */
    padding: 0.4rem;

}

.customColumn {
    background: #f4f5f7;
    border: none;
    border-color: black;
  }
.customColumn:hover{
    /* background-color: #03543f; */
    border: none;
    border-color: transparent;
}

.datagrid{
    /* background-color: rgb(43, 39, 39); */
    background-color: none;
    background-color: rgba(0.3, 0.3, 0.3, 0.7);

}

.MuiToolbar-root{
    color:white;
}

.DateBox{
    background:transparent;
    border:none;
    color:white;
    /* margin-right: auto;
    padding:auto;
    margin-left:10rem; */
    margin:auto;

}

.DateBox:hover{
    cursor: pointer;
    border: none;
}


.SelectBox{
    background: transparent;
    border-color: white;
    color:white;
    /* align-items: left;
    margin-left: auto;
    margin-right: 20rem; */
    margin: auto;
    padding:2px;
    border-width: 2.5px;
    border-radius: 5px;
}

.options{
    color:black;
}




